
.root {
    display: grid;
    min-height: 100%;
    grid-template: auto auto 1fr / 1fr 1fr;
    margin: 0 1.5rem 1.5rem 1.5rem;
    gap: 2rem 2rem;
}

.titleSection {
    grid-column: 1 / 2;
}

.buttonSection {
    grid-column: 1 / 2;
}

.currentContainer {
    grid-column: 1 / 2;
}

.formContainer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}